<div class="card">
  <img src="{{title|lower|replace(" ", "-")}}/thumbnail.png" style="image-rendering: {{imgRendering}};">
  <capt>{{title}}</capt>
  <a href="/{{title|lower|replace(" ", "-")}}"></a>
</div>