<!DOCTYPE html>
<html lang="en-gb">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Freckle+Face&ampdisplay=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&ampdisplay=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@900&ampdisplay=swap" rel="stylesheet">

	<link rel="stylesheet" href="/project-style.css">

	<title>{{title}}</title>
	<link rel="icon" href="/favicon.png">
	{{headerCode}}

</head>
<body>
  <div class= "split-title">
    <div class="h1"><a href="/">&lt;</a> {{title}}</div>
    <div class="role">{{role}}</div>
  </div>
  
  <div class="split-body">
    
    <div class="gallery">
      <div class="full-image-container">
        <img id="full-image" src="thumbnail.png" style="image-rendering: {{imgRendering}};">
        <div id="full-image-caption"></div>
      </div>
      
      <div class="previews">
        <img id="thumbnail" class="thumb" src="thumbnail.png" style="image-rendering: {{imgRendering}};" onclick="galleryFunction(this)">
		{% for item in galleryImages %}
        <img class="thumb" src="{{item.filename}}" style="image-rendering: {{imgRendering}};" title="{{item.caption}}" onclick="galleryFunction(this)">
		{% endfor %}
      </div>
      
      <div class="links">
		{% for item in links %}
        <a class="link" href="{{item.address}}">{{item.name}} &gt;&gt;<br></a>
		{% endfor %}
        <a class="link" href="/">&lt;&lt; Back</a>
      </div>
      
    </div>
    
    
    <div class="desc-div">

      <div class="desc-navigationbar">
      
        <div class="desc-info-container">
          <div id="title-output" class="desc-title"></div>
          <div id="date-output" class="desc-date"></div>
        </div>
        
        <div id="desc-controls" class="desc-controls">
          <a id="prevButton" class="desc-gallery-button" href="javascript: switchDescription(-1)">&lt;</a>
          <a id="nextButton" class="desc-gallery-button" href="javascript: switchDescription(1)">&gt;</a>
        </div>
        
      </div>
      
            
      <p id="desc-output"></p>
      
      
    </div>
      
      
  </div>
    
    <ol id="desc-list" style="display: none">
	  {% for item in bodyContent %}
      <li data-title="{{item.title}}" data-date="{{item.date}}">
        {{item.content}}
      </li>
	  {% endfor %}
    </ol>

<script src="/gallery.js"></script>
<script src="/desc-gallery.js"></script>
</body>
</html>



